<!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <div class="post-entry">
                            {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }} {% assign excerpt_word_count = post.excerpt
                            | number_of_words %} {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
                            <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>